In [1]:
import pandas as pd
import sys
import os

sys.path.append(os.path.abspath('..'))  # Adds the parent directory to sys.path
from src import config # Importing the config file

In [2]:
e1 = pd.read_excel(os.path.join(config.RAW_DATA_PATH, 'earth_day_tweets_sentiment_50k_(1).xlsx'))

In [3]:
e2 = pd.read_excel(os.path.join(config.RAW_DATA_PATH, 'earth_day_tweets_sentiment_50k_(2).xlsx'))

In [4]:
fifa = pd.read_excel(os.path.join(config.RAW_DATA_PATH, 'fifa_world_cup_2022_tweets_sentiment_22k.xlsx'))

In [5]:
ge = pd.read_excel(os.path.join(config.RAW_DATA_PATH, 'generic_27k.xlsx'))

In [6]:
e1.head(2)

,text,hash_tags,account_tags,sentiment,emotion
0,RT @POTUS: As we celebrate the progress weâ€™ve ...,NaN,POTUS,POSITIVE,optimism
1,"This #EarthDay, I'm happy to be meeting with P...","EarthDay,GetTheLeadOut",PennEnvironment,POSITIVE,optimism

In [7]:
e2.head(2)

,text,hash_tags,account_tags,sentiment,emotion
0,RT @Amyk_Essentials: Happy Earth Day ðŸŒŽ\nTreat ...,NaN,Amyk_Essentials,POSITIVE,joy
1,RT @WUTangKids: Make Earth Day Every Day! htt...,NaN,WUTangKids,NEGATIVE,joy

In [8]:
fifa.head(2)

,Unnamed: 0,Date Created,Number of Likes,Source of Tweet,Tweet,Sentiment
0,0,2022-11-20 23:59:21+00:00,4,Twitter Web App,What are we drinking today @TucanTribe \n@MadB...,neutral
1,1,2022-11-20 23:59:01+00:00,3,Twitter for iPhone,Amazing @CanadaSoccerEN #WorldCup2022 launch ...,positive

In [9]:
ge.head(2)

       textID                                            text sentiment
0  cb774db0d1             I`d have responded, if I were going   neutral
1  549e992a42   Sooo SAD I will miss you here in San Diego!!!  negative